<ion-view view-title="Ciudad">
    <ion-content>

        <div class="padding letterspacing bigfont"></div>

        <div class="citylife-head-bg"><span class="city-title-big">Buenos Aires</span>  <span class="city-title-big"></span></div>

        <div class="padding letterspacing">
            <p class="justify"><strong class="bigfont"></strong>lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum.</p>
            <p class="justify">lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum.</p>
<!--            <p>Enjoy !</p>

            <h4>VISITING CANNES:</h4>

            <ion-list>
                <ion-item id="{{poi.id}}" class="item item-icon-left item-wrap" href="#/app/map/{{poi.id}}" ng-repeat="poi in pois.cityGuide">
                    <i class="icon ion-ios-location-outline"></i>
                    <h2>{{poi.name}}</h2>
                    <p ng-show="{{poi.description != undefined}}" ng-bind-html="poi.description"></p>
                </ion-item>
            </ion-list>
        
-->
		</div>
    </ion-content>
</ion-view>
