<ion-view view-title="Staff / Speakers">
	<ion-content>
		<ion-list>
			<ion-item href="#/app/performer1" class="item-avatar" >
				<img ng-src="data/performers/1.jpg" alt="Carolina Dentati" />
				<h2>Carolina Dentati</h2>
			</ion-item>
			<ion-item href="#/app/performer2" class="item-avatar" >
				<img ng-src="data/performers/2.jpg" alt="Mariano Bermudez" />
				<h2>Mariano Bermudez</h2>
			</ion-item>
			<ion-item href="#/app/performer3" class="item-avatar" >
				<img ng-src="data/performers/3.jpg" alt="Patricio Otero" />
				<h2>Patricio Otero</h2>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>