<ion-view view-title="Patricio Otero">
  <ion-content>

	<div class="performer">
		<img ng-src="data/performers/3.jpg" alt="Patricio Otero" />
		<h2>Patricio Otero<small ng-show="perf.brand"><br />Rubra Eventos</small></h2>
		<h5>Graphic Designer</h5>
		<div class="performer-bio" >lorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsum</div>
		<div class="performing" >lorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsum</div>
	</div>

  </ion-content>
</ion-view>
