<ion-view view-title="Mariano Bermudez">
  <ion-content>

	<div class="performer">
		<img ng-src="data/performers/2.jpg" alt="Mariano Bermudez" />
		<h2>Mariano Bermudez<small ng-show="perf.brand"><br />Rubra Eventos</small></h2>
		<h5>Web Designer</h5>
		<div class="performer-bio" >lorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsum</div>
		<div class="performing" >lorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsumlorem impsum</div>
	</div>

  </ion-content>
</ion-view>
