<ion-view view-title="AGENDA">
	<ion-content>
		<div class="page-intro center padding">
			#TodoEsPosible
		</div>

		<!------------------------------------------------------------ //-->

		<div class="program-day1-bg ext-link" ng-click="toggleProgram(1)" id="bt-program-day1">
			<span class="program-title-big">DIA 1</span> Presentacion <!-- <sup>Presentacion--></sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>
		<div id="program-day1" class="displaynone">
		

			<div class="displaytable marginauto padding-bottom">
				<div class="displaycell mediumicon center center"><div class="medium-circle-disc">00:<span class="program-circle-minute">00</span><br />00:<span class="program-circle-minute">00</span></div></div>
				<div class="program-circlespacing bigfont"><strong>&</strong></div>
				<div class="displaycell mediumicon center"><div class="medium-circle-disc">00:<span class="program-circle-minute">00</span><br />00:<span class="program-circle-minute">00</span></div></div>
			</div>
            <div class="displaytable programhoribar morningbackground"></div>
            <div class="displaytable border-bottom padding margin">
                <div class="displaycell vmiddle bigfont letterspacing padding-left center">
					&bull; <strong><span class="program-masterclass">LOREMIMPSUM</span> lorem</strong><br />lorem impsum impsum<br />lorem<br /><br />
					&bull; <strong><span class="program-masterclass">LOREMIMPSUM</span> lorem </strong><br />impsum impsum<br />lorem<br /><br />
				</div>
			</div>

			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">00:<span class="program-circle-minute">00</span>
						<br />00:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left"><strong>Wellcome Party</strong><br />
					lorem Impsum<br />lorem Impsum</div>
			</div>

			<div class="displaytable padding border-bottom">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">00:<span class="program-circle-minute">00</span>
						<br />00:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left"><strong><span class="program-masterclass">lorem Impsum</span> - lorem Impsum</strong>
					<br />lorem Impsum
					<br />lorem Impsum</div>
			</div>
		
		
		</div>

		<!------------------------------------------------------------ //-->

		<div class="program-day2-bg ext-link" ng-click="toggleProgram(2)" id="bt-program-day2"><span class="program-title-big">DIA 2</span> Tendencia<sup></sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>


		<div id="program-day2" class="displaynone">


			<div class="displaytable padding border-bottom">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">00:<span class="program-circle-minute">00</span>
						<br />00:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left"><strong><span class="program-masterclass">lorem Impsum</span> - lorem Impsum</strong>
					<br />lorem Impsum
					<br />lorem Impsum</div>
			</div>
			<div class="displaytable padding border-bottom">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">00:<span class="program-circle-minute">00</span>
						<br />00:<span class="program-circle-minute">00</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left"><strong><span class="program-masterclass">lorem Impsum</span> - lorem Impsum</strong>
					<br />lorem Impsum
					<br />lorem Impsum</div>
			</div>

		</div>

		<!------------------------------------------------------------ //-->

        <div class="program-day3-bg ext-link" ng-click="toggleProgram(3)" id="bt-program-day3"><span class="program-title-big">DIA 3</span> Cierre<sup></sup>
			<i class="icon ion-chevron-down push-right"></i>
		</div>

		<div id="program-day3" class="displaynone">
			<div class="displaytable border-bottom padding">
				<div class="displaycell mediumicon center padding-right">
					<div class="medium-circle-disc">8:<span class="program-circle-minute">30</span>
						<br />8:<span class="program-circle-minute">25</span>
					</div>
				</div>
				<div class="displaycell programvertibar generalbackground"></div>
				<div class="displaycell vmiddle bigfont letterspacing padding-left">
					<strong>XXXXXXX</strong>
					<br /> lorem
					<br /> lorem
				</div>
			</div>


        </div>

	</ion-content>
</ion-view>
